<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewStudents</servlet-name>
        <servlet-class>Controller.ViewStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>Controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Controller.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>Controller.CreateStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStudents</servlet-name>
        <url-pattern>/ViewStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/CreateStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
